:root {
  --red: #3cd093;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #011936;
  --navy: #17050f;
  --blue: #082840;
  --white: #ccccdd11;
}
* {
  box-sizing: border-box;
}

.highlight {
  background: var(--darkgray);
  color: white;
  display: inline-block;
  padding: 0 5px;
  margin-right: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  color: var(--darkgray);
}

html {
  background-color: var(--white);
}

body {
  margin: 0 auto;
  display: block;
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p:last-child {
  margin-bottom: 0;
}
/* p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
} */
p,
.tmpl-post li {
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 0.01em;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
 
} 
main {
  padding: 1rem 0;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 0.5px solid #ccccddee;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}
.description{
  font-weight: 300;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 2em;
}

main blockquote {
  background: #ccccdd22;
  margin: 0 1em;
  width: auto;

  padding: 0.5em 1em;
  padding-right: 2em;
  font-style: italic;
  
  font-size: 18px;
}
.post ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.post li {
  padding-left: 1em;
  text-indent: -1em;
}

.post li:before {
  content: "–";
  padding-right: 5px;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 2em; /* 16px /16 */
  font-family:  "Roboto Slab", serif;
  font-weight: 300; 
 
}
.home a {
  text-decoration: none;
}

.home :link:not(:hover) {
  text-decoration: none;
}



/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: right;
  position: relative;
  top: 12px;
  font-weight: bold;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.nav-item {
  display: inline-block;
  margin-left: 1em;

}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

.block{
  display: inline-block;

}

@media only screen and (max-width: 720px) {
  .block {
    max-width: calc(100% - 100px);
  }
}


/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  /* counter-increment: start-from -1; */
  display: block;
  padding: 0;
  /* margin-bottom: 0.2em; */
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  /* content: "" counter(start-from, decimal-leading-zero) ". "; */
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  /* font-size: 0.8125em; 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
  display: inline-block;
  width: 70px;
  margin-left: -70px;
  text-align: right;
  padding:  10px;
  padding-top: 0;
  font-size: 14px;
  vertical-align: top;
  float: left;
  display: block;
  padding-top: 2px;
}
@media only screen and (max-width: 720px) {
  .postlist-date {
    margin-left: 0px;
  }
}


img{
  width: calc(100% + 90px);
  margin: 0 -45px;
}

@media only screen and (max-width: 720px) {
  img{
    width: calc(100% + 20px);
  margin: 0 -10px;
}
}

.about img[alt="Profilbild"]{
  object-fit: cover;
margin: 0;
border-radius: 200px;
width: 250px;
height: 250px;
display: inline-block;

margin-right: 40px;
margin-bottom: 40px;
margin-left: -20px;
margin: 40px auto;
display: table;
}



.about h1, .about h4{
  text-align: center;
}

.about .direct-link{
   display: none !important;
}

.postlist-link {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  padding: 0.25em 0.1875em; /* 4px 3px /16 */
  padding-left: 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-left: -5px;
  margin-right: 0.8em;
  vertical-align: top;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */

.tags{
display: inline-block;
padding: 10px 0;


}
.tags{
  display: block;
  min-width: 50%;
  }

.tag {
  vertical-align: top;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  font-weight: bold;
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-right: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}


a{
  display: inline !important;
}

footer{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--red);
  position: absolute;
  margin-top: 40px;
   left: 0;
  right: 0;
  display: block;
  padding: 20px 10px;
}
footer a{
  text-decoration: none;
}
.post{
  display: block;
  min-height: calc(100vh - 150px);
}

main, p, li, blockquote{
  font-size: 18px;
}

.title{
  margin-top: 1em !important;
}
